body {
    font-size: 18px;
}

p {
    margin: 0;
}
h1{
    background-color: #082f3b;
    text-align: center;
}

header {
    background: #3e9ebb;
    color: rgb(88, 9, 9);
    text-align: center;
    margin: 0;
}

header h2 {
    margin: 0px;
    padding: 10px;
}

#container {
    max-width: 800px;
    margin: 30px auto;
    margin-top: 8%;
    border: 1px solid #ccc;
    background: #fff;
}

#content {
    padding: 30px;
}

#alert {
    margin-bottom: 20px;
    color: #b41b93;
}

.btn {
    margin: 25px auto 0 auto;
    background: #95bb3e;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    border: 1px solid #ccc;
}

.form-radio {
    margin: 5px 20px;
}



.score {
    font-weight: bold;
    font-size: 25px;
}


